/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

a {
	text-decoration: none;
}

*::before {
	pointer-events: none !important;
}

:root,
body {
	font-size: 16px;
}

@media screen and (min-width: 576px) {
	:root,
	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	:root,
	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 992px) {
	:root,
	body {
		font-size: 16px;
	}
}

html {
	width: calc(100% + calc(100vw - 100%));
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1920px;
	font-family: "Open Sans", sans-serif;
	color: #232323;
	outline: 1px solid #ddd;
	overflow-x: hidden;
}

::-webkit-scrollbar-track {
	background: transparent !important;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.page-container {
	max-width: 1140px;
	width: 100%;
	z-index: 5;
	margin: 0 auto;
	position: relative;
}

.breadcrumb {
	display: flex;
	align-items: center;
	background: transparent;
	margin-top: 57px;
	font-size: 14px;
	font-weight: 400;
	line-height: 125%;
	color: #848484;
	cursor: pointer;
	position: relative;
	gap: 6px;
}

.breadcrumb a,
span {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: #616161;
}

.breadcrumb span {
	color: #232323;
	cursor: default;
}

.solutions {
	position: relative;
}

.solutions::before {
	content: "";
	position: absolute;
	background-image: url("images/solutions_bg.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 100%;
	height: calc(100% + 400px);
	bottom: -200px;
}

.solutions-wrapper {
	position: relative;
}

.solutions-wrapper::before {
	content: "";
	position: absolute;
	background-image: url("images/puzzle.svg");
	min-width: 628px;
	min-height: 653px;
	top: -203px;
	right: -400px;
}

.solutions__wrapper-head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 57px;
}

.solutions__title {
	max-width: 712px;
}
.solutions__title,
.solutions__title--highlight {
	display: inline-block;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	letter-spacing: 0%;
	vertical-align: baseline;
	line-height: 120%;
}

.solutions__title--highlight {
	color: #0c5adb;
}

.solutions__subtitle {
	max-width: 353px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0%;
	color: #616161;
	vertical-align: center;
}

.solutions__catalog__filter {
	margin-top: 54px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.solutions__filter__type {
	display: flex;
	gap: 20px;
	align-items: center;
}

.solutions__filter__subtype {
	display: flex;
	gap: 15px;
}

.solutions__filter__btns {
	display: flex;
	gap: 15px;
	align-items: center;
	flex-wrap: wrap;
}

.solutions__catalog__filter-select {
	display: none;
}

.filter {
	display: flex;
	gap: 15px;
}

.filter__btn {
	border-radius: 60px;
	padding: 9px 26px;
	border: none;
	/* border: 1px solid #0c5adb; */
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	color: #0c5adb;
	background-color: white;
	cursor: pointer;
	transition: background 0.3s ease;
}

.filter__btn:not(.filter__btn--big):hover {
	background: #3a77dc;
	color: white;
}

.filter__btn--big {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 20px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	padding: 15px 30px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #313131;
	filter: grayscale(1);
	transition: all 0.2s ease;
	border: 1px solid transparent;
}

.filter__btn--big:hover {
	filter: grayscale(0);
}

.filter__btn--big[data-type="all"] {
	color: #0c5adb;
	filter: grayscale(0);
}

.filter__btn--big[data-type="all"]:hover {
	background: #3a77dc;
	border-color: #0c5adb;
	color: white;
}

.filter__btn--big--active {
	filter: grayscale(0);
}

.filter__btn--big--active[data-type="all"] {
	background-color: #0c5adb;
	color: white;
}

.filter__btn--big__title {
	font-family: Open Sans;
	font-weight: 800;
	font-size: 20px;
	line-height: 113.99999999999999%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: #535353;
}

.filter__btn--active {
	background-color: #0c5adb;
	color: white;
}

.filter__subtitle {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
	margin-top: 8px;
}

.solutions__catalog__list {
	margin-top: 42px;
}

.catalog__list {
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.catalog__list__item {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 7px 30px 0px rgba(52, 87, 139, 0.1);
	border-radius: 10px;
	padding: 38px 66px 38px 78px;
	position: relative;
}

.catalog__list__item[data-new]::before {
	content: "Новый";
	color: white;
	padding: 6px 11px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	background: #e51e21;
	line-height: 125%;
	letter-spacing: 0%;
	vertical-align: middle;
	border-radius: 30px 0 30px 30px;
	position: absolute;
	top: 0;
	right: 0;
}

.catalog__list__item__sidebar,
.catalog__list__item__main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.catalog__list__item__main-wrapper {
	display: flex;
	flex-direction: row;
	gap: 68px;
	justify-content: space-between;
}
.catalog__list__item__main {
	margin-left: 100px;
	gap: 20px;
	/* flex-direction:  */
}

.catalog__list__item__logo {
	max-width: 128px;
}

.catalog__list__item__downloads {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #232323;
	text-align: center;
}

.catalog__list__item__downloads__highlight {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;

	color: #0c5adb;
}

.catalog__list__item__main__about {
	display: flex;
	flex-direction: column;
}

.catalog__list__item__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #232323;
}

.catalog__list__item__desc {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #616161;
	margin-top: 20px;
}

.catalog__list__item__more {
	margin-top: 16px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	width: fit-content;
	line-height: 125%;
	letter-spacing: 0%;
	color: #0c5adb;
}

.catalog__list__item__block:nth-child(2) {
	/* margin: 0 30px 0 92px; */
}
.catalog__list__item__buy-btns {
	display: flex;
	gap: 30px;
	align-items: center;
}

.catalog__list__item__price {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 45px;
	color: #0c5adb;
	line-height: 135%;
	letter-spacing: 0%;
}

.catalog__list__item__buy-btn {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: white;
	border-radius: 10px;
	padding: 18px 30px 22px 30px;
	background: #0c5adb;
	box-shadow: 0px 5px 15px 0px #34578b4d;
	transition: background 0.2 ease;
}
.catalog__list__item__buy-btn:hover {
	background: #3a77dc;
}

.catalog__list__item__buy {
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 20px;
}

.catalog__list__item__compatible {
	background: linear-gradient(
		90.26deg,
		rgba(12, 90, 219, 0.1) 13.41%,
		rgba(83, 245, 226, 0.1) 89.73%
	);
	padding: 14px 17px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 10px;
	max-width: 226px;
}
.catalog__list__item .catalog__list__item__compatible__label {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: right;
	text-transform: uppercase;
}

.catalog__list__item__compatible__img {
	background-color: white;
	padding: 3px 13px 5px 4px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-top: 2px;
}

.catalog__list__item__compatible__versions {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
	margin-top: 10px;
}
.catalog__list__item__compatible__versions__highlight {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
}

.catalog__list__item__demo-btn {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	padding: 18px 30px 22px 30px;
	background-color: #db2272;
	box-shadow: 0px 5px 15px 0px #34578b4d;
	color: white;
	text-wrap: nowrap;
	transition: background 0.2 ease;
}
.catalog__list__item__demo-btn:hover {
	background: #f34590;
}
.solutions__page {
	margin-top: 37px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0px 5px 15px 0px rgba(52, 87, 139, 0.1);
}

.solutions__page__btn,
.solutions__page__dots {
	border: none;
	background-color: transparent;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #0c5adb;
	opacity: 0.6;
}
.solutions__page__btn {
	cursor: pointer;
}

.solutions__page__btn-switch,
.solutions__page__btn--active {
	opacity: 1;
	cursor: pointer;
}

.solutions__page__arrow-right {
	transform: rotate(180deg);
}

.advantages {
	background-color: white;
	margin-top: 180px;
}

.advantages__title__highlight {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #1c69d4;
}
.advantages__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;
	color: black;
	min-width: 320px;
}

.advantages__wrapper {
	display: flex;
	gap: 64px;
	align-items: flex-start;
}

.advantages__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	column-gap: 30px;
	row-gap: 68px;
}

.advantages__list__item__img {
	width: 55px;
	height: 55px;
}

.advantages__list__item__title {
	margin-top: 15px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #232323;
}

.advantages__list__item__desc {
	margin-top: 10px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #616161;
}

.support {
	position: relative;
	width: 100%;
}

.support::before {
	content: "";
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	background-image: url("images/support_bg.svg");
	left: 0;
	top: -50px;
	min-height: 1180px;
	width: 100%;
}

.support-inner {
	margin-top: 150px;
	display: flex;
	gap: 50px;
}

.support__contacts__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #232323;
}

.support__contacts__phone {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #232323;
	margin-top: 40px;
}

.support__contacts__socials {
	padding: 0;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	list-style: none;
}

.support__contacts__socials__item {
	display: flex;
	gap: 10px;
	align-items: center;
}

.support__contacts__socials__item__img {
	width: 20px;
	height: 20px;
}

.support__contacts__socials__item__label {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
}

.support__instructions {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.support__instruction__tabs {
	display: flex;
	align-items: center;
	gap: 106px;
}

.instruction__tab {
	display: flex;
	gap: 15px;
	align-items: center;
}

.instruction__tab__btn {
	padding: 10px 25px 15px 25px;
	border-top-right-radius: 30px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: 1px solid #db2272;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 20px;
	line-height: 135%;
	letter-spacing: 0%;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	color: #db2272;
	background-color: transparent;
}
.instruction__tab__label {
	color: #616161;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	vertical-align: middle;
}
.instruction__tab__btn--active,
.instruction__tab__btn:hover {
	color: white;
	background-color: #db2272;
}
.instruction__tab__label--active {
	color: #232323;
}

.instruction__slider {
	/* position: relative; */
	max-width: 750px;
	box-shadow: 0px 7px 30px 0px rgba(52, 87, 139, 0.1);
	background-color: white;
	border-radius: 18px;
}

.instruction__card-wrapper {
	padding: 51px 68px 51px 93px;
	gap: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .instruction__card--active { */
/* 	display: flex; */
/* 	transition: 0.3s; */
/* } */

.instruction__card__label {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 24px;
	line-height: 125%;
	letter-spacing: 0%;
}

.instruction__card__desc {
	margin-top: 20px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
}

.instruction__card__img {
	width: 140px;
	/* height: 190px; */
}

.instruction__slider-wrapper {
	/* position: relative; */
}

.slick-prev,
.slick-next {
	position: absolute;
	width: 60px;
	height: 60px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s ease;
}

.slick-prev:hover,
.slick-next:hover {
	background: white;
}

/* Position arrows outside the card */
.slick-prev {
	left: -70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slick-next {
	right: -70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Remove Slick default outline */
.slick-prev:focus,
.slick-next:focus {
	outline: none;
}

.slick-prev::before,
.slick-next::before {
	content: ""; /* remove default icons */
	background-image: url("images/slider_arrow.svg");
	position: absolute;
	z-index: 5;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	/* top:  */
	/* transform: translateY(-50%); */
}
.slick-prev,
.slick-next {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px auto;
	color: transparent;
	border: none;
	cursor: pointer;
}

/* Optional: add custom SVG or Unicode arrows */
.slick-prev::before {
	transform: rotate(180deg);
}

.slick .instruction__slider__switch-btn {
	padding: 22px 26px;
	border-radius: 50px;
	border: none;
	background-color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	box-shadow: 0px 5px 15px 0px rgba(52, 87, 139, 0.1);
}

.instruction__slider__switch-btn__img {
	min-width: 8px;
	min-height: 16px;
}

.instruction__slider__switch-btn--no-more {
	opacity: 0.3;
}

.instruction__slider__switch-btn-left {
	transform: translateY(-50%) rotate(-180deg);
	left: -4.5vw;
}

.instruction__slider__switch-btn-right {
	right: -4.5vw;
}

@media (max-width: 1276px) {
	.instruction__slider .slick-prev {
		left: 0;
	}
	.instruction__slider .slick-next {
		right: 0;
	}
}

.support__share {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 3px 30px 0px rgba(86, 107, 139, 0.12);
	margin-top: 50px;
	display: flex;
	gap: 120px;
	/* justify-content: space-between; */
	position: relative;
}

.support__share__info::after {
	content: "";
	position: absolute;
	background-image: url("images/puzzle_share_blue.svg");
	background-repeat: no-repeat;
	top: 0;
	width: 91px;
	height: 290px;
	right: -90px;
}

.support__share__info {
	padding: 36px 0px 51px 66px;
	position: relative;
	background-color: #3a77dc;
	flex-grow: 1;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.support__share__info__img {
	position: absolute;
	height: 100%;
}

.support__share__info__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 0%;
	color: white;
}

.support__share__info__desc {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 20px;
	line-height: 125%;
	letter-spacing: 0%;
	color: white;
	margin-top: 20px;
}

.support__share__discount {
	padding: 34px 80px 38px 20px;
}

.support__share__discount__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #232323;
}

.support__share__discount__title__highlight {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #3a77dc;
}

.support__share__discount__info {
	margin-top: 25px;
	display: flex;
	gap: 30px;
	align-items: center;
}

.share-btn {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: white;
	padding: 19px 30px;
	background: #0c5adb;
	box-shadow: 0px 5px 15px 0px #34578b4d;
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.share-btn:hover {
	background-color: #3a77dc;
}

.share-btn__img {
	width: 24px;
	height: 24px;
}

.support__share__discount__info__desc {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
}

.faq {
	margin-top: 195px;
}

.faq-wrapper {
	display: flex;
	justify-content: space-between;
	gap: clamp(2vw, 213px, 213px);
	position: relative;
}

.faq-wrapper::before {
	position: absolute;
	content: "";
	background-image: url("images/puzzle_full.svg");
	background-repeat: no-repeat;
	top: -80px;
	right: -140px;
	min-width: 570px;
	min-height: 596px;
	z-index: -5;
}

.faq__header__title {
	max-width: 246px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #232323;
}

.faq__header__title__highlight {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: 0%;
	color: #0c5adb;
}

.accordion {
	max-width: 682px;
	margin: 0 auto;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.accordion__item {
	box-shadow: 0px 3px 30px 0px rgba(86, 107, 139, 0.12);
	border-radius: 10px;
	border: 3px solid white;
}

.accordion__header {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 20px;
	line-height: 125%;
	letter-spacing: 0%;
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	text-align: start;
	align-items: center;
	padding: 26px 18px 25px 30px;
	background-color: white;
	border: none;
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	transition:
		max-height 0.3s ease-out,
		padding 0.3s ease-out;
	padding: 0 100px 0 30px;
	background-color: white;
}

.accordion__item--open .accordion__content {
	max-height: 100vh;
	padding: 25px 100px 29px 30px;
}

.accordion__item--open .accordion__header .accordion__icon {
	transform: rotate(45deg);
}

.accordion__icon-wrapper {
	min-width: 40px;
	min-height: 40px;
	border-radius: 50%;
	background-color: #0c5adb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.accordion__item--open .accordion__header .accordion__icon-wrapper {
	background-color: #3d79dd;
}

.accordion__icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url("images/plus.svg");
	background-position: center;
	transition: all 0.3s ease-in-out;
}

.share-idea-modal {
	background-color: rgba(0, 44, 118, 0.2);
	display: none;
	/* display: none; */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	justify-content: center;
	align-items: center;
}
.share-idea-modal--active {
	display: flex;
}

.share-idea-modal-wrapper {
	border-radius: 10px;
	padding: 96px 81px 73px 81px;
	position: absolute;
	background-color: white;
	opacity: 1;
}

.share-idea-modal__success {
	display: flex;
	flex-direction: column;
	gap: 54px;
	padding: 154px 85px 54 85px;
	align-items: center;
	justify-content: space-between;
}

.share-idea-modal__success__label {
	font-family: Open Sans;
	font-weight: 800;
	font-size: 45px;
	line-height: 140%;
	letter-spacing: 0%;
	text-align: center;
	color: #0c5adb;
}

.share-idea-modal__content,
.share-idea-modal__success {
	display: none;
}

.share-idea-modal_step--active {
	display: block;
}

.share-idea-modal__success__img-wrapper {
	position: relative;
}

.share-idea-modal__success__img-wrapper::before {
	background-image: url("images/lead_space_logo.svg");
	min-width: 80px;
	min-height: 30px;
	position: absolute;
	z-index: 5;
	top: 45%;
	transform: translateY(-50%);
	left: 20%;
	content: "";
}

.share-idea-modal__close-btn {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(12, 90, 219, 1);
	border-radius: 50px;
	border: none;
	min-width: 60px;
	min-height: 60px;
	cursor: pointer;
}

.share-idea-modal__close-btn__img {
	min-width: 21px;
	min-height: 21px;
	margin: 0 auto;
}

.share-idea-modal__title {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
	color: #232323;
}

.share-idea-modal__form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.share-idea-form__input-group {
	position: relative;
}

.share-idea-form__input-group .share-idea-form__input-text {
	width: 100%;
	padding: 15px 0;
	border: none;
	border-bottom: 1px solid #232323;
	color: #232323;
	outline: none;
	transition: border-color 0.3s;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
}

.share-idea-form__input-group .share-idea-form__input-text:focus {
}

.share-idea-form__input-group .share-idea-form__label {
	position: absolute;
	left: 0;
	top: 15px;
	color: #232323;
	pointer-events: none;
	transition: 0.3s ease all;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 0%;
}

.share-idea-form__input-group
	.share-idea-form__input-text:focus
	~ .share-idea-form__label,
.share-idea-form__input-group
	.share-idea-form__input-text:not(:placeholder-shown)
	~ .share-idea-form__label {
	top: -12px;
	left: 0;
	background: white;
	font-weight: 500;
}
.share-idea-form__checkbox-wrapper {
	margin-top: 20px;
	max-width: 400px;
	display: flex;
	width: 100%;
	gap: 12px;
	align-items: center;
}

.share-idea-form__input-checkbox {
	min-width: 24px;
	min-height: 24px;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #3a77dc;
	outline: 0;
	-webkit-appearance: none;
	appearance: none;
	padding: 0;
	position: relative;
}

.share-idea-form__input-checkbox:checked::before {
	position: absolute;
	content: "";
	background-image: url("images/check.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px;
	min-width: 30px;
	min-height: 24px;
}
.share-idea-form__input-checkbox:checked {
	background-color: #3a77dc;
}

.share-idea-form__agreement-text-privacy,
.share-idea-form__agreement-text {
	display: inline-block;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 12px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #232323;
}

.share-idea-form__btn {
	margin: 0 auto;
	min-width: 240px;
	border: none;
	border-radius: 10px;
	background-color: #0c5adb;
	padding: 21px;
	text-align: center;
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	position: relative;
	letter-spacing: 0%;
	vertical-align: middle;
	color: white;
	cursor: pointer;
}

.share-idea-form__btn::after {
	background-image: url("images/email_white.svg");
	width: 22px;
	height: 18px;
	top: 50%;
	transform: translateY(-50%);
	right: 21px;
	position: absolute;
	content: "";
}

.share-idea-form__input--error {
	border-color: red;
}

.share-idea-form__input--error .share-idea-form__label {
	color: red;
}

.share-idea-form__file-wrapper {
	position: relative;
	width: 100%;
	padding: 38px 0;
}

.share-idea-form__input-file {
	width: 0;
	height: 0;
	position: absolute;
	display: block;
	z-index: -1;
}

.share-idea-form__input-file__text {
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0%;
	color: #232323;
	padding-left: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
}

.share-idea-form__input-file__text::before {
	position: absolute;
	content: "";
	background-image: url("images/clip.svg");
	background-repeat: no-repeat;
	top: -5px;
	width: 25px;
	height: 25px;
	left: 0;
}

.filter-choices__outer {
	display: none;
}

@media screen and (max-width: 1140px) {
	.breadcrumb {
		margin-top: 30px;
	}

	.solutions {
		padding-left: 15px;
		padding-right: 15px;
		background: linear-gradient(277.3deg, #eefefc 8.02%, #e7eefb 47.4%);
		box-shadow: 0px 6px 30px 0px rgba(12, 49, 111, 0.1) inset;
		position: relative;
		padding-bottom: 40px;
	}

	.solutions::before {
		background-image: none;
	}

	.solutions::after {
		position: absolute;
		bottom: -74px;
		left: -40px;
		background-image: url("images/puzzle_bulb_bg.svg");
		content: "";
		min-width: 77px;
		min-height: 74px;
		width: 100vw;
		background-repeat: no-repeat;
		background-position-x: right;
	}

	.solutions-wrapper::before {
		display: none;
	}

	.solutions__wrapper-head {
		flex-direction: column;
	}

	.solutions__title,
	.solutions__title--highlight {
		font-family: Open Sans;
		font-weight: 700;
		font-style: Bold;
		font-size: 35px;
		line-height: 125%;
		letter-spacing: 0%;
	}

	.solutions__subtitle {
		font-family: Open Sans;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0%;
		max-width: 280px;
		margin-top: 15px;
	}

	.solutions__filter__type {
		display: none;
	}
	.solutions__catalog__filter-select {
		/* display: block; */
	}

	.solutions__catalog__filter {
		margin-top: 32px;
	}

	.solutions__filter__subtype {
		flex-direction: column;
		gap: 30px;
	}

	.filter__subtitle {
		margin: 0;
	}

	.filter-choices__outer {
		display: block;
		margin-top: 30px;
	}

	.filter-choices__inner {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		background-color: white;
		padding: 20px 10px 20px 20px;
		border: 1px solid #0c5adb;
		border-radius: 60px;
		font-size: 14px;
		min-height: 44px;
		overflow: hidden;
		/* position: absolute; */
		z-index: 4 !important;
	}

	.choices__list--single {
		padding: 0 !important;
	}

	.choices[data-type*="select-one"].is-open::after {
		margin: 0 !important;
		transform: translateY(-50%) rotate(180deg);
	}
	.choices[data-type*="select-one"]::after {
		background-image: url("images/filter_select_dropdown.svg");
		background-repeat: no-repeat;
		transform: translateY(-50%);
		margin: 0 !important;
		min-width: 40px;
		min-height: 40px;
		border: none !important;
		z-index: 5;
	}

	.filter-choices__item {
		font-family: Open Sans;
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
		letter-spacing: 0%;
		text-align: start;
		color: #616161;
	}

	.filter-choices__dropdown.choices__list[aria-expanded] {
		top: -80px !important;
	}

	.filter-choices__dropdown.choices__list {
		padding-top: 50px;
		z-index: 1 !important;
		background: white;
		margin-top: 100px !important;
		/* top: 80%; */
		border: none !important;
		/* border: 1px solid #0c5adb !important; */
		border-radius: 10px !important;
		top: -80px;
	}

	.filter-choices__item--choice {
		padding: 25px 37px 25px 33px;
		margin-right: 22px;
		margin-left: 22px;
	}
	.filter-choices__item--choice:not(:last-child) {
		border-bottom: 0.5px solid #0c5adb;
	}
	.choices__item--selectable.is-highlighted {
		background: white !important;
	}

	.catalog__list__item {
		flex-direction: column;
		padding: 24px 25px 30px 25px;
		gap: 30px;
	}

	.catalog__list__item__sidebar {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.catalog__list__item__block:nth-child(2) {
		margin: 0;
	}

	.catalog__list__item__main {
		flex-direction: column;
		margin: 0;
	}
	.catalog__list__item__main-wrapper {
		flex-direction: column;
		gap: 25px;
	}

	.catalog__list__item__title {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.catalog__list__item__main__about {
		gap: 15px;
	}

	.catalog__list__item__desc {
		font-family: Open Sans;
		font-weight: 400;
		font-size: 14px;
		line-height: 125%;
		letter-spacing: 0%;
		margin-top: 0;
	}
	.catalog__list__item__more {
		font-family: Open Sans;
		font-weight: 400;
		font-size: 14px;
		line-height: 125%;
		letter-spacing: 0%;
		margin-top: 0;
	}

	.catalog__list__item__compatible {
		max-width: 100%;
	}

	.catalog__list__item__compatible__versions__highlight {
		margin-right: 100%;
	}

	.catalog__list__item__buy-btns,
	.catalog__list__item__buy {
		flex-direction: column;
	}

	.catalog__list__item__buy {
		flex-direction: column;
		align-items: flex-start;
	}

	.catalog__list__item__buy-btns {
		align-items: flex-start;
		width: 100%;
		gap: 20px;
	}

	.catalog__list__item__buy-btn,
	.catalog__list__item__demo-btn {
		width: 100%;
	}

	.advantages {
		margin-top: 70px;
		padding: 0px 15px;
		min-height: 475px;
	}

	.advantages__wrapper {
		flex-direction: column;
	}

	.advantages__title,
	.advantages__title__highlight {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.advantages__list {
		flex-direction: column;
		max-width: 350px;
	}

	.slick-prev,
	.slick-next {
		bottom: -120px;
		top: initial;
		width: 60px;
		height: 60px;
	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		left: 90px;
	}

	.support {
		padding-left: 15px;
		padding-right: 15px;
		background: linear-gradient(94.14deg, #e7eefb 42%, #eefefc 85.4%);
		padding-bottom: 70px;
	}

	.support::before {
		position: absolute;
		top: -74px;
		/* right: 280px; */
		left: 220px;
		background-image: url("images/puzzle_bulb_up_bg.svg");
		content: "";
		min-width: 77px;
		min-height: 74px;
		width: 100vw;
		background-repeat: no-repeat;
		background-position-x: left;
	}

	.support::after {
		position: absolute;
		/* bottom: -158px; */
		bottom: -70px;
		right: calc(100% - 320px);
		/* right: */
		/* left: 220px; */
		background-image: url("images/puzzle_bulb_up_bg.svg");
		transform: rotate(180deg);
		content: "";
		min-width: 77px;
		min-height: 74px;
		width: 100vw;
		background-repeat: no-repeat;
		background-position-x: left;
		overflow: visible;
	}

	.support-inner {
		flex-direction: column;
	}

	.support__contacts__title {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.support__instruction__tabs {
		gap: 30px;
	}

	.instruction__card-wrapper {
		padding: 25px;
		gap: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.instruction__card__label {
		font-family: Open Sans;
		font-weight: 600;
		font-size: 20px;
		line-height: 125%;
		letter-spacing: 0%;
	}

	.support__share {
		margin-top: 160px;
		flex-direction: column;
		/* background: black; */
		gap: 0;
		background: transparent;
	}

	.support__share__info {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 30px 25px;
		background: #3a77dc;
		min-height: 285px;
	}

	.support__share__discount {
		padding: 30px 25px 41px 25px;
		min-height: 345px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.support__share::before {
		background-image: none;
	}

	.support__share::after {
		background-image: none;
	}

	.support__share__info::after {
		background-image: none;
	}

	.support__share__discount {
		position: relative;
		background-color: white;
		z-index: 5;
	}

	.support__share__discount::before {
		position: absolute;
		content: "";
		background-image: url("images/discount_bulb_white.svg");
		min-width: 76px;
		min-height: 65px;
		top: -65px;
		background-repeat: no-repeat;
		background-position-x: left;
		left: 50%;
		transform: translateX(-50%);
	}

	.support__share__discount::after {
		position: absolute;
		content: "";
		background-image: url("images/discount_white_bg.svg");
		min-width: 300px;
		min-height: 345px;
		background-repeat: no-repeat;
		left: 0;
		bottom: 10px;
		width: 100%;
		background-size: cover;
		z-index: -1;
	}

	.support__share__info__title {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.support__share__info__desc {
		font-family: Open Sans;
		font-weight: 400;
		font-size: 18px;
		line-height: 125%;
		letter-spacing: 0%;
	}

	.support__share__discount__title__highlight {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.support__share__discount__title {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.support__share__discount__info {
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
	}

	.faq {
		margin-top: 40px;
		padding: 0px 15px;
	}

	.faq-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 40px;
	}

	.faq-wrapper::before {
		background-image: none;
	}

	.faq__header {
		min-width: 245px;
	}

	.faq__header__title,
	.faq__header__title__highlight {
		font-family: Open Sans;
		font-weight: 700;
		font-size: 30px;
		line-height: 120%;
		letter-spacing: 0%;
	}

	.accordion {
		min-width: 345px;
	}

	.filter__btn {
		font-family: Open Sans;
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
		letter-spacing: 0%;
		text-align: center;
		padding: 12px 18px;
	}

	.support-inner {
		margin-top: 20px;
	}

	.support__instructions {
		gap: 25px;
	}

	.accordion__content {
		padding: 0 76px 0 25px;
	}

	.instruction__tab:has(
			.instruction__tab__btn:not(.instruction__tab__btn--active)
		) {
		display: none;
	}

	.share-idea-modal-wrapper {
		padding: 50px 25px 30px 25px;
	}

	.share-idea-modal-wrapper {
		margin: 0 10px;
	}
}

@media screen and (max-height: 840px) {
	.share-idea-modal__form {
		gap: 10px;
		margin-top: 20px;
	}

	.share-idea-form__file-wrapper {
		padding: 19px 0;
	}

	.share-idea-form__checkbox-wrapper {
		margin-top: 10px;
	}
}

@media screen and (max-width: 600px) {
	.support {
		background: linear-gradient(94.14deg, #e7eefb 90%, #eefefc 99.4%);
	}
}
